/* copied from our previous work. Do not delete! */

@layer base {
  :root {
    /* colors */
    --black: #000501;
    --tan: #b6b57b;
    --green: #31b28a;
    --lightgreen: #8cdfc5;
    --red: #ff4404;
    --white: #ffffff;


    /* font families */
    --main: "Lato", sans-serif;
    --heading: "Josefin Sans", sans-serif;
    --mono: "Fira mono", monospace;
    --skill: 'Host Grotesk', sans-serif;

    /* type scale */
    --base-size: 1.2rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --small: calc(var(--base-size) / var(--scale));
  }

  /* border box model: https://css-tricks.com/box-sizing/ */
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* h/t Scott O'Hara https://css-tricks.com/inclusively-hidden/ */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  body {
    font-family: var(--main);
    line-height: 1.5;
    font-size: var(--base-size);
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading);
    text-transform: uppercase;
  }

  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  h5 {
    font-size: var(--h5);
  }

  h6 {
    font-size: var(--h6);
  }

  .mono {
    font-family: var(--mono);
  }

  .colors {
    display: flex;
    /* you could do this with grid as well, but you may need a few more lines of code */
  }

  .colors>* {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 1px solid black;
  }

  .white {
    background-color: var(--white);
  }

  .black {
    background-color: var(--black);
  }

  .tan {
    background-color: var(--tan);
  }

  .green {
    background-color: var(--green);
  }

  .lightgreen {
    background-color: var(--lightgreen);
  }

  .red {
    background-color: var(--red);
  }

  a {
    color: var(--green);
  }

  a:hover {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .button {
    display: inline-block;
    background-color: var(--green);
    color: var(--black);
    padding: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--headline);
    font-size: var(--small);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
  }

  .button:hover {
    background-color: var(--tan);
  }
}

@layer intro {
  .intro {
    padding: 4rem 0 10rem 0;
    background-image: url('fem-featured-top.png'),
    url('img/fem-comet.jpg');
    background-repeat: repeat-x, no-repeat;
    background-position: bottom center, 86% 10%;
    color: var(--white);
  }

  .intro a {
    color: var(--white);
  }

  .intro h2 {
    text-transform: uppercase;
  }

  .name {
    font-weight: 700;
  }

  .stars {
    padding: 4rem 0 6rem 0;
    background-image: url(fem-featured-top.png),
    url(img/fem-stars-sky.jpg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom center, center center;
  }
  
  header + article {
    max-width: 500px;
  }
}

@layer feature {
  .fea ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0;


  }

  .fea ul li {
    border: 2px solid grey;
    padding: 0.5rem;
    text-transform: uppercase;
    background-color: var(--white);
  }

  #feature-section {
    
    background-color: var(--white);

  }

  #feature-section {
    
    background-image: url(img/fem-feature-bottom.png),
    url(../img/fem-feature-bkgd.png);
    background-repeat: repeat-x, repeat;
    background-position: bottom center,center center;
    padding: 6rem 2rem 2rem 2rem;

  }

  

  .description-container {
    margin-top: 2rem;
    background-color: var(--black);
    color: var(--white);

    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    padding: 0 1.5rem 2rem 1.5rem;

  }

  .grid-overlap {
    display: grid;
    grid-template-rows: auto auto;
  }

  .grid-overlap a img {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .grid-overlap .ul {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .fea li {
    margin-top: 0.5rem;
  }

  .fea ul {
    margin-top: -2.75rem;
  }

 





  @media (max-width: 650px) {
    .grid-overlap {
      grid-template-rows: auto auto;
    }

    .fea ul li {
      border: none
    }

    .fea ul {
      display: flex;
      justify-content: center;
      border: 2px solid grey;
      outline: none;
      background-color: var(--white);

    }
    
  }

  @media (max-width: 550px) {
    .fea h2 {
      font-size: var(--h5);
    }

    .fea h3 {
      font-size: var(--h5);
    }

    .fea ul {
      flex-flow: row wrap;
      width: auto;
      gap: 0;
    }

    .fea li {
      font-size: var(--small);
      padding: 0;
      margin: 0;
    }

    .fea {
      margin: 0;
      padding: 1rem;
    }

    .fea h2 {
      font-size: var(--small);
    }

    .fea h3 {
      font-size: var(--small);
    }

    #feature-section {
      margin: 0;
      padding: 0;
    }

  }

  @media (max-width: 400px) {
    .fea ul {
      gap: 0;
    }
  }


}

@layer projects {

  #section-projects {
    background-color: var(--black);
    padding: 6rem 2rem 4rem 2rem;
    color: white;
  }

  figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  figure {
    display: grid;
    grid-template-rows: 1fr 100px;
  }

  figure a {
    text-decoration: none;
    color: var(--white);
    grid-column: 1/2;
    grid-row: 1/3;
  }

  figure a:hover {
    color: var(--green);
  }

  figcaption {
    background-color: var(--black);
    opacity: 0.8;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/2;
  }

  figcaption h3 {
    margin-bottom: 0;
  }

  figcaption ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0;
    font-family: var(--mono);
    font-size: var(--small);
    text-transform: uppercase;

  }

  figcaption li {
    display: inline-block;
  }

  .top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 0 1rem 0 1rem;

  }

  .top figure h3 {

    font-size: var(--h5);
  }

  .top figure:first-child {
    grid-row: span 2;
  }

  .bottomgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 1rem 0 1rem;
  }

  .project-container h2 {
    padding: 0 1rem;
  }


  @media (max-width: 800px) {
    .top {
      display: grid;
      grid-template-columns: 1fr;

    }

    .top figure {
      margin-bottom: 4rem;
    }

    .bottomgrid {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 6rem 2rem;
    }

    .bottomgrid>* {
      flex-basis: 30%;
    }

    .bottomgrid img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  @media (max-width: 620px) {
    .top {
      display: grid;
      grid-template-columns: 1fr;


    }

    .bottomgrid {
      display: flex;
      gap: 3rem 2rem;

    }

    .bottomgrid a {
      flex-basis: 80%;

    }

    .top figure {
      margin-bottom: 1rem;
    }

    .bottomgrid img {
      margin: 0;

    }

    h2 {
      font-size: var(--h4);
    }



  }

  @media (max-width: 450px) {
    h2 {
      font-size: var(--h6)
    }
  }
}


@layer contact {
  #contact {
    background: url("../img/fem-aurora.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding: 4rem 0;
    margin: 0;
    text-align: center;
  }

  .contact-section p:last-child {
    margin-top: 3rem;
  }
}

@layer footer {
  #footer a:hover svg {
    fill: var(--green);
  }
 #footer svg {
   width: 40px;
   fill: var(--white);
 }
 ul li {
   list-style-type: none;
 }
 
 h2 {
   padding: 0;
   margin: 0 0 2rem 0;
 }
 #footer ul {
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
    flex-flow: row wrap;
   gap: 2rem;
}
 #footer {
  background: var(--black) url("https://assets.codepen.io/296057/fem-stars.jpg") no-repeat center center;
   background-size: cover;
   padding: 6rem 0;
   
 }
 .footer-container > *  {
   color: var(--white);
   
}
 .footer-container {
   text-align: center;
}
 .footer svg {
   fill: var(--white);
   margin-bottom: 2rem;
 }
 #footer svg:hover {
  fill: var(--green);
 }
}


@layer footer2 {
  footer {
    text-align: center;
    padding: 6rem 0;
    background: var(--black) url("../img/fem-stars.jpg") no-repeat center center;
    background-size: cover;
    color: var(--white);
    z-index: 0;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
  }

  footer svg {
    width: 40px;
    fill: var(--white);
  }

  .footer2 a:hover svg {
    fill: var(--green);
  }

  .bottom-trim {
    background-image: url(../img/fem-featured-bottom.png);
    background-repeat: repeat-x;
    background-position: top center;
    height: 16px;
    padding-bottom: 4rem;
  }
  .footer2 {
    padding: 0;
  }
  .feature-section-class {
    background-image: revert;
    background-image: url(../img/fem-feature-bkgd.png);
    background-repeat:  repeat;
    background-position:  center center;
  }
  .container-footer {
    padding: 6rem 0;
  }
}

@layer extra {
  .youtube {
    margin-bottom: 3rem;
    width: 100%;
    aspect-ratio: 16/9;
  }

   figure {
    display: grid;
    color: var(--white);
    
  }
  .project .first-fig {
    color: transparent;
    background-color: var(--white);
    text-align: left;
  }
.project .screen  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin-bottom: 0;
  column-gap: 2rem;
  
}
#feature-section .section-featured img {
  grid-column: revert;
  grid-row: revert;
}

.p {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  margin: 0;
  padding: 0;
}

.p p:first-of-type {
  grid-column: 1/2;
  text-align: center;
}
.p p:last-of-type {
  grid-column: 3/4;
  text-align: left;
}
.p {
  margin-bottom: 5rem;
}
.image-bottom {
  margin-bottom: 6rem;
}


  #flex  {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    margin: 0rem 0 6rem 0;
    text-align: center;
}
.img-flex img {
  grid-column: 2/3;
}
.img-flex p {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  color: var(--black);
  align-self: center;
}

}

@layer nav {



  .intro-section-div li a {
    font-family: var(--heading);
    font-weight: 700;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul a {
    text-decoration: none;
  }

  nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: baseline;
    padding: 0;
    margin-bottom: 6rem;
  }

  header h1 {
    font-weight: 300;
    font-family: var(--heading);
    font-size: var(--h3);
    margin: 0;

  }

  h1 a {
    text-decoration: none;
    color: var(--white);
  }

  body {
    background-color: var(--black);
  }

  header svg {
    width: 30px;
    fill: var(--white);
    margin-top: -0.1rem;
  }

  nav ul a {
    font-family: var(--heading);
    font-weight: 600;
    color: var(--white);
  }

 

  header .button {
    padding: 0.6rem 0.4rem 0.4rem 0.4rem;
    color: var(--black);
  }

  nav a:hover {
    color: var(--green);
  }

  header h1 a:hover,
  header h1 a:hover svg  {
   fill: var(--green);
    color: var(--green);
  }

  header  a:hover svg  {
    fill: var(--green);
     color: var(--green);
   }

  .intro-section-div svg:hover {
    fill: var(--green);
  }

  .intro-section-div {
    padding: 0 2rem 0 2rem;
    font-family: var(--mono);
  }

  .intro-section-div h2 {
    font-family: var(--skill);
  }

  @media (max-width: 850px) {
    header {
      justify-content: center;
    }

    header h1 {
      flex-basis: 100%;
      margin-bottom: 2rem;
      text-align: center;

    }
    
  }

  @media (max-width: 640px) {
    header {
      justify-content: space-between;
    }

    header h1 {
      flex-basis: auto;
    }

    header button {
      display: block;
      font-size: 3rem;
      line-height: 1;
      border: 0;
      background-color: transparent;
      color: var(--white);

    }

    header button:hover {
      color: var(--green);
    }
    

    header button::after {
      content: "\2630";
    }
   

    nav {
      position: fixed;
      top: 0;
      right: 200%;
      width: 100vw;
      height: 100vh;
      
      opacity: 0;
      background: #fff;
      padding-top: 20%;
      transition: right 0s 0.5s, opacity 0.5s;
    }

    /* trigger for animation - pulls down nav box */
    button:focus+nav,
    button:focus-within+nav {
      right: 0;
      opacity: 1;
      transition: 0s, opacity 0.5s;


    }

    nav ul {
      display: block;
      text-align: center;
      position: relative;
      top: -50hv;
      transition: top 0.5s;
    }
   

    button:focus+nav ul,
    button:focus-within+nav ul {
      top: 0;

    }

    nav a:any-link:not(.button) {
      display: block;
      padding: 1.5rem;
      color: var(--green);
    }

    nav a svg {
      fill: var(--green);
    }

    nav a:hover,
    nav a svg:hover {
      color: var(--white);
      fill: var(--tan);
    }

    nav .button {
      margin-top: 1rem;
    }

    

    nav ul::after {
      content: "\2716";
      color: var(--green);
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 3rem;
      line-height: 1;

    }

    
  }

  @media (max-width: 420px) {
    header h1 {
      font-size: var(--h5);
      
    }
    header h1 svg {
      width: 20px;
    }
    header button {
      font-size: 2rem;
    }
  }
}


